@use "../../base";

.page--logo {
  width: 300px;
  margin-right: 24px;
}

.logo {
  @media (max-width: 64rem) {
    grid-column-start: 2;
    justify-self: end;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  /* Black with a little bit see-through */
}

.overlay--content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.close--overlay {
  position: absolute;
  top: 30vh;
  right: 15vw;
  font-size: 60px;
  cursor: pointer;
  color: #9f8e8e;
  padding: 0.05em;
  border: 2px solid #9f8e8e;
  border-radius: 50vw;
  transition: all 100ms ease-in;
}

.close--overlay:hover {
  border-color: base.$color-gray-2;
  color: base.$color-gray-2;
}

.overlay input[type="search"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  width: 60%;
  background: #4a4551;
  color: base.$color-gray-2;
  border-radius: 8px;
  min-width: 150px;
}

.overlay input:active,
.overlay input:focus,
.overlay input:focus-visible {
  outline: none;
}

.navbar--wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;

  @media (min-width: 64rem) {
    grid-template-columns: auto minmax(0, 1fr) auto;
  }
}

.primary--navigation {
  display: flex;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1.5em;
  z-index: 100;
  font-family: base.$jost-bold, sans-serif;
  color: base.$color-black-4;

  @media (max-width: 64rem) {
    position: fixed;
    inset: 0 60% 0 0;
    background: hsl(0 0% 100%);
    flex-direction: column;
    padding: min(5vh, 2rem) 1em;
    transform: translateX(-100%);
    transition: transform 350ms ease-out;

    // To not have it perma open on smaller sizes for now DELETE IT if done testing
    //visibility: hidden;
  }
}

.primary--navigation[data-visible="true"] {
  transform: translateX(0%);
}
.nav--item:not(:last-child) {
  @media (max-width: 64rem) {
    border-bottom: 1px solid black;
  }
}

.nav--item {
  padding: 12px 16px;

  a {
    text-decoration: none;
    color: base.$color-black-2;
    font-size: 1.15rem;
    letter-spacing: 2px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
  }
  a.active {
    border-color: base.$color-black-1;
    color: base.$color-black-1;
    font-weight: 700;
  }
}

.nav--menu__title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.35rem;
  color: base.$color-black-4;
  padding-bottom: 24px;
  margin-bottom: 1em;
  border-bottom: 2px solid base.$color-black-3;

  @media (min-width: 64rem) {
    display: none;
  }
}

.mobile--nav--toggle {
  display: block;
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background-image: url("src/assets/hamburger-menu-icon.svg");
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 2rem;
  left: 2rem;
  z-index: 9999;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: 64rem) {
    display: none;
  }
}

.mobile--nav--toggle[aria-expanded="true"] {
  background-image: url("src/assets/close-icon.svg");
}

.search--form {
  grid-column: 1 / -1;

  @media (min-width: 64rem) {
    width: initial;
    grid-column: auto;
  }

  input {
    width: 100%;
  }

  input[data-activesearch="false"] {
    display: none;
  }
}

.search--toggle--btn > svg {
  fill: base.$color-gray-2;
}

.search--toggle--btn {
  padding: 0.35em;
  background-color: base.$color-black-1;
  transition: transform 200ms ease-in;
  border: none;
  border-radius: 6px;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  @media (max-width: 64rem) {
    display: none;
  }
}
