@use "base";
@use "tailwindcss";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: base.$jost-regular, sans-serif;
  overflow-x: hidden;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
  /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.subpage--title {
  font-family: base.$jost-bold;
  font-weight: 900;
  font-size: 2rem;
  margin: 1em 0.5em;
}
